.page-content {
    max-width: 1230px;
    width: 100vw;
    margin-left: 110px;
}

.page-content header {
    margin-top: 158px;
}

.page-content .graph-home {
    margin-top: 48px;
}

.graph-home {
    background-color: #212C42;
    border-radius: 18px;
    padding: 18px;

    margin-left: 38px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.graph-home h1 {
    font-size: 2.4rem;
    margin-bottom: 15px;
    margin-left: 38px;
}









