:root {
    font-size: 60%;

    --color-background: #0E1116;
    --color-primary: #40798C;
    --color-side-bar: #0102023b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
} 

body {
    background: #192233;
}

#root {
    display: flex;
    justify-content: center;
}

body,
input,
button,
textarea {
    font: 400 1.6rem Poppins;
    color: white;
}